![title](2.png)

In [16]:
import numpy as np
import pandas as pd

df = pd.read_csv('Recommend.csv', names=['User','Movie','Rating','d']).drop('d', axis=1)
print(df.User.nunique(), df.Movie.nunique())
df

943 1682

       User  Movie  Rating
0       196    242       3
1       186    302       3
2        22    377       1
3       244     51       2
4       166    346       1
...     ...    ...     ...
99995   880    476       3
99996   716    204       5
99997   276   1090       1
99998    13    225       2
99999    12    203       3

[100000 rows x 3 columns]

In [12]:
from sklearn.model_selection import train_test_split

trn, tst = train_test_split(df, test_size=0.25)
trn = trn.pivot('User','Movie','Rating').fillna(0).to_numpy()
tst = tst.pivot('User','Movie','Rating').fillna(0).to_numpy()

In [98]:
from sklearn.metrics import pairwise_distances

Us = pairwise_distances(trn, metric='cosine')
Ms = pairwise_distances(trn.T, metric='cosine')
MeanM = trn.mean(axis=0)[:, np.newaxis]
difff = trn.T - MeanM

Movies_Prediction = MeanM + Ms.dot(difff)/np.array([np.abs(Ms).sum(axis=0)]).T

In [100]:
Movies_Prediction.shape

(1646, 943)

In [99]:
print(Ms.shape, diff.shape)

(1646, 1646) (1646, 943)

In [95]:
difff.shape

(1646, 943)

In [83]:
MeanM.shape

(1646, 1)

In [73]:
Ms.shape

(1646, 1646)

In [72]:
Us.shape

(943, 943)

In [70]:
from sklearn.metrics import pairwise_distances

Us = pairwise_distances(trn, metric='cosine')
Ms = pairwise_distances(trn.T, metric='cosine')
Mean = trn.mean(axis=1)[:,np.newaxis]
diff = trn - Mean
UP = Mean + Us.dot(diff)/np.array([np.absolute(User_Similarity).sum(axis=1)]).T

In [71]:
UP.shape

(943, 1646)

In [63]:
diff.shape

(943, 1646)

In [60]:
Mean.shape

(943, 1)

In [57]:
Ms.shape

(1646, 1646)

In [54]:
Us.shape

(943, 943)